*{
    box-sizing:border-box;
}

body{
    background-color:#e7ebf0;
    font-family:Arial;
    margin: 0px;
}

#container{
    min-width: 320px;
    min-height: 320px;
    max-width: 1010px;
    max-height: 96%;
    height: 100%;
    width: 100%;
    background:#ffffff;
    margin:0 auto;
    font-size:0;
    overflow:hidden;
}

.mainHeader{
    margin: 0 auto;
    height: 48px;
    background: #5682a3;
    font: 13px Tahoma,sans-serif,Arial,Helvetica;
}
.mainHeader .headLeft{
    float: left;
    width: 31%;
    box-sizing: border-box;
    position: relative;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 16px;
}
.mainHeader .headLeft .headImg{
    float: left;
    width: 25%;
}
.mainHeader .headLeft .headImg img{
    margin-top: 10px;
    margin-left: 16px;
    width: 30px;
    height: 30px;
}
.mainHeader .headLeft .headText{
    float: left;
    margin-top: 15px;
}
.mainHeader .headCenter{
    float: left;
    width: 69%;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    color: #fff;
    display: block;
    font-size: 13px;
    line-height: 16px;
}
.mainHeader .headCenter .headText{
    width: 82%;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}
.mainHeader .headCenter .headText a{
    color: #b9cfe3;
    font-weight: normal;
    margin-left: 7px;
}
.mainHeader .headCenter .headFind{
    width: 7%;
    float: left;
}
.mainHeader .headCenter .headMenu{
    width: 7%;
    float: left;
}
.mainHeader .headCenter .headFind .headImg img{
    margin-top: 16px;
    margin-left: 22px;
    width: 17px;
    height: 17px;
}
.mainHeader .headCenter .headMenu .headImg img{
    margin-top: 14px;
    margin-left: 23px;
    width: 20px;
    height: 20px;
}

aside{
    width:31%;
    height:calc(100% - 105px);
    background-color:#ffffff;
    display:inline-block;
    font: 13px Tahoma,sans-serif,Arial,Helvetica;
    vertical-align:top;

    border-right: 2px solid #E9EBED;
    border-right-color: rgb(233, 235, 237);
    border-right-style: solid;
    border-right-width: 2px;

    border-left: 1px solid #E9EBED;
    border-left-color: rgb(233, 235, 237);
    border-left-style: solid;
    border-left-width: 1px;
}

main{
    width:69%;
    height:calc(100% - 105px);
    
    box-sizing: border-box;
    font: 13px Tahoma,sans-serif,Arial,Helvetica;
    color: black;
    display:inline-block;
    font-size:13px;
    vertical-align:top;
    margin: 0px;
}

aside header{
    padding:12px;
}
aside input{
    width:100%;
    height:35px;
    line-height:50px;
    padding:0 50px 0 20px;
    background-color:#f2f2f2;
    border:none;
    color:black;
    background-image:url("../images/search1.png");
    background-repeat:no-repeat;
    background-position:2px;
    background-size:18px;
}
aside input:focus{
    width:100%;
    height:35px;
    line-height:50px;
    padding:0 50px 0 20px;
    
    background-color:white;
    background-image:url("../images/search2.png");
    border: 1px solid #E9EBED;
    border-color: rgb(233, 235, 237);
    border-style: solid;
    border-width: 1px;
}
aside input::placeholder{
    color:#a7a7af;
}
aside ul{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:auto;
    height:100%;
}
aside li{
    padding:5px 0px;
}
aside li:hover{
    background-color:#f2f2f2;
}
h2,h3{
    margin:0;
}
aside li img{
    border-radius:50%;
    margin-left:20px;
    margin-right:8px;
    width: 50px;
    height: 50px;
}
aside li .chatInfo{
    display:inline-block;
    vertical-align:top;
    margin-top:4px;
    width: 210px;
}
aside li .chatInfo .leftChatInfo{
    float:left;
    width: 60%;
    font-size:13px;
    color:black;
    font-weight:normal;
    margin-bottom:5px;
}
aside li .chatInfo .rightChatInfo{
    color: #b4b4b4;
    float: right;
    font: 10px Tahoma,sans-serif,Arial,Helvetica;
}
aside li .chatInfo .dawnChatInfo{
    float: left;
    width: 90%;
    font-size:13px;
    color:#a7a7af;
    font-weight:normal;
}
aside li .dawnChatInfo img{
    margin-left:0px;
    margin-right:0px;
    width: 18px;
    height: 18px;
}
#selectedChat{
    background-color: #6490b1;
}
#selectedChat .leftChatInfo{
    color: white;
}
#selectedChat .rightChatInfo{
    color: white;
}
#selectedChat .dawnChatInfo{
    color: white;
}
#dopImg{
    float: right;
    margin-right: -20px;
}

#chat{
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
    list-style-type:none;
    overflow-y:auto;
    height:calc(100% - 70px);
    margin-top: 0px;
    margin-bottom: 10px;
}
#chat img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
}
#chat li{
    max-width: 560px;
    padding: 0 15px 0 15px;
    position: static;
    margin: 8px 10px 8px 16px;
}

#chat .chatImg{
    width: 16%;
    float: left;
}

#chat .chatImg img{
    margin-left: 30px;
}

#chat .chatRight{
    width: 84%;
    float: left;
}

#chat .chatRight .chatFIO{
    height: 40px;
}

#chat .chatRight .chatFIO h2{
    color: #5a79a3;
    float: left;
    font: 13px Tahoma,sans-serif,Arial,Helvetica;
}

#chat .chatRight .chatFIO h3{
    color: #b4b4b4;
    float: right;
    font: 10px Tahoma,sans-serif,Arial,Helvetica;
}

#chat .chatRight .chatMsg{
    margin-top: -20px;
    padding-bottom: 22px;
}
#chat .chatRight .chatMsg .dopMessage{
    margin-top: 15px;
}
#chat .chatRight .chatMsg .dopMessage .mesDopMessage{
    float: left;
}
#chat .chatRight .chatMsg .dopMessage .timeDopMessage{
    color: #b4b4b4;
    float: right;
    font: 10px Tahoma,sans-serif,Arial,Helvetica;
}

main footer{
    height:97px;
    padding:0px 30px 0px 20px;
    margin-top: -5px;
}

main footer .footImgLeft{
    float: left;
    width: 21%;
}

main footer .footImgLeft img{
    height:52px;
    width: 52px;
    margin-left: 70px;
    margin-top: 5px;
    border-radius:50px;
}

main footer .footCenter{
    float: left;
    width: 60%;
}

main footer .footCenter .footMessage{
    float: left;
    width: 100%;
}
main footer .footCenter .footMessage textarea{
    resize:none;
    border:none;
    display:block;
    width:100%;
    height:60px;
    border-radius:3px;
    padding:5px;
    font-size:13px;
    margin-bottom:13px;
}
main footer .footCenter .footMessage textarea::placeholder{
    font:13px/18px Tahoma,sans-serif,Arial,Helvetica;
    color:#737373;
}

main footer .footCenter .footSmile{
    float: bottom;
    width: 100%;
}
main footer .footCenter .footSmile img{
    height:21px;
    width: 21px;
    vertical-align: middle;
    display: inline-block;
    cursor:pointer;
    margin-left: 8px;
    margin-right: -4px;
}
main footer .footCenter .footSmile #bigImg{
    height:26px;
    width: 26px;
    margin-right: 5px;
    margin-left: 0px;
}
main footer .footCenter .footSmile a{
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    color:#4e9dd9;
    vertical-align:top;
    margin-left:25px;
    margin-top:5px;
    display:inline-block;
    font-size: 13px;
}

main footer .footImgRight{
    float: left;
    width: 15%;
}
main footer .footImgRight img{
    height:52px;
    width: 52px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius:50px;
}
